.searchbar {
    top: 0;
    left: 0;
    position: sticky;
    z-index: 1100;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 64px;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #fff;
    background-color: #3f51b5;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
        0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.searchForm {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
}

.searchFormButton {
    display: inline-block;
    width: 48px;
    height: 48px;
    border: 0;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='1112' height='1706.667' viewBox='0 0 834 1280'%3e%3cg fill='%23000000'%3e%3cpath d='M342 59.6c-34.6 4.1-60 10.3-88.5 21.6-69 27.4-127.9 81.5-161.1 147.9-45.1 90.2-45.2 191.4-.3 281 41.5 82.8 118.7 143 209.5 163.4 21.6 4.9 36.5 6.6 60.6 7.2 20.2.5 43.1-.6 50.4-2.3 1.8-.5 2.8.5 6 5.7 10.3 17 29.4 31.3 47.9 36 3.6.9 4.4 1.4 3.1 1.9-1.6.5-1.2 1.1 2.3 4 3.9 3 13.8 14 16.9 18.6 1.1 1.7 1.2 1.7.6-.6-1.1-4.3.3-1.9 4.5 8 2.3 5.2 3.9 10 3.6 10.8-.2.7-.1 1.1.4.8.5-.3 2 2.2 3.5 5.5 3.1 7.2 3.3 8.8.5 3.9-1.1-1.9-1.7-2.6-1.3-1.5 1.8 4.9 4.4 19.6 4.5 25.5.2 6.3.2 6.4.9 2 .6-4 .7-3.7.8 3.1.1 4.2.4 9.2.7 11 .4 2.9.3 3-.4.9-.5-1.4-.9-4-1-5.9-.1-1.9-.4-3.2-.7-2.8-.3.3-.3 3.3.1 6.7.6 4.8 1 6 2.2 5.6 3.7-1.5-.2 1.3-5.5 3.8l-5.9 2.8 11.4 26.7c6.3 14.6 19.5 45 29.3 67.6 9.8 22.5 28.2 65.1 41 94.5 67.1 154.6 80.9 186.2 81.4 186.8.2.1 3.5-1.1 7.4-2.7l7.1-2.9 2.5 4.1c3 5.2 11.6 13.5 17.6 16.9 13.4 7.8 33.5 7.8 46.9.1 10.3-5.9 18.2-15.8 22.2-27.4 1.8-5.4 2-8 1.7-16.9-.3-5.8-1-11.5-1.7-12.8-1.2-2.2-.9-2.4 5.3-5.2 3.7-1.7 6.6-3.4 6.6-3.9 0-.9-15.2-36.6-36.5-85.6-15.4-35.4-51.7-119.2-80.6-185.8-25.7-59.1-44.9-103-45.4-103.5-.1-.2-3.1.8-6.6 2.2-7.3 3-7 3-6.4 1.3.2-.6-1.6-2.8-4.1-4.7-7.4-5.7-21.6-21.3-25.6-28.1-4.3-7.2-4.7-7.3-1.8-.3 1.1 2.6 1.9 4.8 1.7 5.1-.8.8-5.8-12.7-5.1-13.8.4-.7.3-.9-.3-.6-1.3.8-4.7-6.8-3.8-8.4.5-.7.4-1-.2-.6-.6.4-2-1.6-3.3-4.6-3.3-7.8-3.4-8.7-.5-3.7 1.4 2.5 2.3 3.6 1.9 2.5-2.5-7.5-3.5-15.8-3.1-25.2.3-6.4.1-10.1-.5-9.7-.5.3.7-2.6 2.6-6.5 6.3-12.4 8.1-20.7 8-36.1-.1-10.4-.6-15.1-2.2-20.4l-2-6.9 2.6-2.1c5.7-4.5 20.2-17.8 29.4-27.2 45.8-46.7 76.4-109.9 85.3-176.4.9-6.3 1.8-20.3 2.2-31 4-130.2-74.2-249.6-195.2-297.9-23.7-9.4-44.6-15.1-73-19.7-9.6-1.5-61.3-2.9-70.5-1.8zm61 49.5c17.2 2.3 18.9 2.5 28.5 5 35.2 8.9 67.3 24.4 99.5 48.2 8.6 6.3 43 39.6 43 41.6 0 .4 1.1 2.1 2.5 3.7 3.1 3.5 15.4 21.3 18.5 26.9 4.1 7.2 13.7 26.8 17.3 35.5 15.9 37.9 22.8 82.1 19.1 123-3.5 40.4-15.2 77.4-34.2 109-7.5 12.5-19.4 29.4-23.2 33-.3.3-1.8 2.1-3.4 4-4.9 6.1-18 19.3-24.6 25-3.6 3-6.7 5.7-7 6-1.2 1.4-23.5 16.2-32.5 21.7-11 6.7-33.7 18.3-40.6 20.8-36.9 13.2-64.6 19.3-91.1 20.2-47.4 1.6-95.1-11.3-139.9-37.8-10.3-6.1-26.5-17-27.9-18.8-.3-.3-2.1-1.8-4-3.2-5.6-4.2-17.4-15.3-27-25.5-15.7-16.5-29.8-36.9-40.8-59-10.3-20.4-11.5-23.5-17.3-43.3-13.6-46.5-14-97.5-1.2-145.1.8-3 1.8-6.9 2.3-8.5.8-3.4 4.7-14.4 7.7-22 5.8-14.8 20.8-42.3 28-51.5.7-.8 3.3-4.4 6-8 2.6-3.6 5-6.7 5.3-7 .3-.3 3-3.4 6-7 9.2-10.8 26.3-26.9 35-33 1.9-1.3 3.7-2.7 4-3.1.3-.3 5.8-4.2 12.4-8.4 13.3-8.8 36.3-20.8 47.6-24.9 10.3-3.8 25.1-8.7 27.4-9.2 1-.2 3.3-.8 5-1.3 4.2-1.4 10.2-2.6 26.6-5.5 22.1-3.9 50.7-4.5 73-1.5zm183.7 657.4c2.3 2 5.2 5 6.5 6.8 1.3 1.9-.1.9-3.2-2.4-3-3-6.8-6.6-8.5-7.8-1.6-1.2-2.1-1.8-1-1.2 1.1.5 3.9 2.6 6.2 4.6zm-80.3 14.1c.3.8.2 1.2-.4.9-.6-.3-1-1-1-1.6 0-1.4.7-1.1 1.4.7zm1.3 12.6c-.3.8-.6.5-.6-.6-.1-1.1.2-1.7.5-1.3.3.3.4 1.2.1 1.9z'/%3e%3cpath d='M562.7 615.7c-.3.5-.1 1.7.4 2.8.7 1.7.8 1.7.8-.8.1-2.7-.4-3.4-1.2-2zM414 679.9c0 .6.4 1.3 1 1.6.6.3.7-.1.4-.9-.7-1.8-1.4-2.1-1.4-.7zM490 747.9c0 .6.4 1.3 1 1.6.6.3.7-.1.4-.9-.7-1.8-1.4-2.1-1.4-.7zM764.2 1158.5c.6 1.4 1.3 2.4 1.4 2.2.6-.6-.9-4.7-1.7-4.7-.5 0-.3 1.1.3 2.5zM672.2 1195.9c-1 .6-.6 1.3 1.3 2.5 2.6 1.7 2.6 1.7 1.4-.6-.6-1.3-1.2-2.4-1.3-2.5-.1-.1-.7.2-1.4.6z'/%3e%3c/g%3e%3c/svg%3e");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    outline: none;
}

.searchFormButton:hover {
    opacity: 1;
}

.searchFormButtonLabel {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    clip-path: inset(50%);
    border: 0;
}

.searchFormInput {
    display: inline-block;
    width: 100%;
    font: inherit;
    font-size: 20px;
    border: none;
    outline: none;
    padding-left: 4px;
    padding-right: 4px;
}

.searchFormInput::placeholder {
    font: inherit;
    font-size: 18px;
}